body{
    font-family: 'Open Sans', sans-serif;
}
h1{
    font-size: 30px;
}
section{
    display: flex;
}
.half-width{
    width: 60% 40%;
    padding: 30px;
}
.half-width img{
    width: 50%;
}
#padding-style{
    padding-top: 30px;
}
.orange-color{
    color:orangered;
}
.link-button{
    text-decoration: none;
    background-color:orangered;
    padding: 10px; 30px;
    color: white;
    border-radius: 10px;   
}
#me{
    width: 90%;
    display: flex;
    background-image: url(shapes/7.png);
}
.situated{
    width: 50%;
}
.situated img{
    width:30%;
    padding-left: 250px;
    padding-top: 80px;
}
.situate{
    margin: auto 20px;
}
#button{
    margin: 40px 120px 70px 250px;
}
#recipe{
    text-align: center;
}
.last{
     background-color: black;
     text-align: center;
     padding-top: 20px;
     padding-bottom: 60px;
}
h4{
    color: white;
}
#white{
    color: white;
}
#advice{
    margin-top: 20px;
    margin-bottom: 40px;
}
.size{
    width: 33.3%;
}
.shadow{
    border: gray;
    box-shadow: 10cm 10cm 50cm gray;
}